:root {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  --border-color: #000;
  --button-bg-color: #333;
  --button-hover-bg-color: #111;
  --input-border-color: #ccc;
  --border-radius: 4px;
  --padding: 8px;
  --margin: 4px;
}

select option {
  font-family: "Roboto", sans-serif;
}

textarea {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  margin-top: var(--margin);
}

#svg-container {
  width: 128px;
  height: 128px;
  border: solid 1px var(--border-color);
}

#container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

#controls > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#controls > div > * {
  margin: var(--margin);
}

#output {
  margin-left: var(--margin);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

button {
  background-color: var(--button-bg-color);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: var(--border-radius);
}
button:hover {
  background-color: var(--button-hover-bg-color);
}

input[type="text"],
input[type="number"],
select {
  padding: var(--padding);
  margin: var(--margin) 0;
  box-sizing: border-box;
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
}

input[type="color"] {
  padding: 0;
  margin: var(--margin) 0;
  border: none;
  background: none;
}

input[type="checkbox"] {
  margin: var(--margin) 0;
}

input#input {
  font-size: large;
  width: 10ch;
}

label {
  margin: var(--margin) 0;
}

footer {
  margin-top: 20px;
  text-align: right;
}

a {
  text-decoration: none;
}
